html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #666;
}

b.Success {
  color: green;
}

b.Error {
  color: red;
}

b.Neutral {
  color: orange;
}

form {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

form > div {
  width: 70%;
}

input,
select,
textarea {
  display: flex;
  height: 40px;
  text-indent: 5px;
  border-radius: 2px;
  color: #fff;
  background-color: #c2325f;
  border: none;
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
}

textarea {
  padding: 5px;
  min-height: 50px;
  resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input.invalid,
select.invalid,
textarea.invalid {
  border: 1px solid #ffae42;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #fff;
}

form.aligned {
  text-align: center;
}

button {
  background-color: #32c24d;
  color: #fff;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 2px;
  margin: 5px;
}

button:hover {
  background-color: #228535;
}

button.Error {
  background-color: #d8000c;
}

button.Error:hover {
  background-color: #dc3545;
}

button:disabled {
  background-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.Loader {
  color: #32c24d;
  font-size: 10px;
  margin: 0 auto 40px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.Loader:before,
.Loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.Loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


#error {
  display: block;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: #d8000c;
  background-color: #ffbaba;
}

#success {
  display: block;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: #4f8a10;
  background-color: #dff2bf;
}

/* Overwriting default DatePicker Styles */

.react-datepicker {
  border-color: #ccc !important;
}

.react-datepicker__input-container, .react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #c2325f !important;
}

.react-datepicker__header {
  background-color: #711d37 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name {
  color: #ffffff !important;
}
