// Variables

$button-color: #32c24d;
$white-color: #ffffff;
$grey-color: #cccccc;
$input-bg-color: #c2325f;
$error-text-color: #d8000c;
$info-text-color: #ffae42;
$success-text-color: #4f8a10;

html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #666;
}

b.Success {
  color: $success-text-color;
}

b.Error {
  color: $error-text-color;
}

b.Neutral {
  color: $info-text-color;
}

form {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

form > div {
  width: 70%;

  &.aligned {
    text-align: center;
  }
}

input, select, textarea {
  display: flex;
  height: 40px;
  text-indent: 5px;
  border-radius: 2px;
  color: $white-color;
  background-color: $input-bg-color;
  border: none;
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;

  &:focus {
    outline: none;
  }

  &.invalid {
    border: 1px solid $info-text-color;
  }

  &::placeholder {
    color: $white-color;
  }
}

textarea {
  padding: 5px;
  min-height: 50px;
  resize: vertical;
}

button {
  background-color: $button-color;
  color: $white-color;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 2px;
  margin: 5px;

  &:hover {
    background-color: #228535;
  }
  
  &.Error {
    background-color: $error-text-color;

    &:hover {
      background-color: #dc3545;
    }
  }
  
  &:disabled {
    background-color: $grey-color;
    color: #666666;
    cursor: not-allowed;
  }
}

.Loader {
  color: $button-color;
  font-size: 10px;
  margin: 0 auto 40px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  &, &:before, &:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
  }

  &:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &:after {
    left: 3.5em;
  }
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


#error {
  display: block;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: $error-text-color;
  background-color: #ffbaba;
}

#success {
  display: block;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: $success-text-color;
  background-color: #dff2bf;
}

/* Overwriting default DatePicker Styles */

.react-datepicker {
  border-color: $grey-color !important;
}

.react-datepicker__input-container, .react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: $input-bg-color !important;
}

.react-datepicker__header {
  background-color: #711d37 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name {
  color: $white-color !important;
}
