.Navigation {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #32c24d;
  height: 50px;
}

.Navigation input#toggle,
.Navigation label {
  display: none;
}

.Navigation ul {
  width: 100%;
  margin: 0;
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-inline-start: 0;
}

.Navigation ul li {
  height: 50px;
  display: flex;
}

.Navigation ul li.logo {
  margin-right: auto;
}

.Navigation ul li.logo a,
.Navigation ul li.logo a.active {
  background-color: #32c24d;
}

.Navigation ul li.logo img {
  width: 42px;
  height: 42px;
}

.Navigation ul li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
}

.Navigation ul li:hover,
.Navigation ul li a.active {
  background-color: #c2325f;
}

@media screen and (max-width: 768px) {
  .Navigation ul {
    display: none;
    flex-flow: row column;
    align-items: center;
    background-color: #32c24d;
  }

  .Navigation label {
    display: flex;
    height: 50px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .Navigation ul li a,
  .Navigation ul li {
    width: 100%;
  }

  .Navigation ul li a:hover {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .Navigation ul li.logo {
    
  }

  .Navigation input#toggle:checked ~ ul {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #fff;
  }
}
