$bg-color: #32c24d;
$active-color: #c2325f;
$white-color: #ffffff;

.Navigation {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $bg-color;
  height: 50px;

input#toggle, label {
  display: none;
}

label {
  @media screen and (max-width: 768px) {
    display: flex;
    height: 50px;
    color: $white-color;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}

ul {
  width: 100%;
  margin: 0;
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-inline-start: 0;

  @media screen and (max-width: 768px) {
    display: none;
    flex-flow: row column;
    align-items: center;
    background-color: $bg-color;
  }

  li {
    height: 50px;
    display: flex;

    @media screen and (max-width: 768px) {
      &, a {
        width: 100%;
      }
    }
  
    &:hover {
      background-color: $active-color;

      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    &.logo {
      margin-right: auto;
    
      img {
        width: 42px;
        height: 42px;
      }

      a, a.active {
        background-color: $bg-color;
      }
    }

    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 10px;
      text-decoration: none;
      color: #fff;
    
      &:active {
        background-color: $active-color;
      }
    }

  }
}

@media screen and (max-width: 768px) {
  input#toggle:checked ~ ul {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid $white-color;
  }
}

} // End of nested .Navigation elements