.FridgeItems {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;

  a {
    text-decoration: none;
    color: #fff;
  }

  .Search {
    display: block;
    width: 100%;
  }
  
}