.FridgeItems {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
}

.FridgeItems a {
  text-decoration: none;
  color: #fff;
}
